*.swp
*.py[cod]
*.swo
.tox
*.egg-info
*_db
.#*
\#*
*~
build
docs/_build
docs/python
storage
media
dist
.noseids
.DS_Store
ve
.cache
.idea
.project
.pydevproject
.ropeproject
.settings
log
*.db
.coverage
